/* Основные настройки */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFBF7;
    color: #333333;
}

.site-header {
    background-color: #EABDAD;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: yellowgreen;
}

.banner {
    background-image: linear-gradient(to bottom, #CDBCA3, #FDFBF7);
    padding: 2em;
    text-align: center;
}

.btn-primary {
    background-color: #AEBED3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.hits-section,
.about-section,
.contact-section {
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.modal-window {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Полупрозрачность фона */
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-aside {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.site-footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333333;
    color: white;
}